<!DOCTYPE html>
<html>
  <head>
    <title>ABC Reform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'uikit.min.js' %>
    <%= javascript_include_tag 'uikit-icons.min.js' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'common' %>
  </head>

  <body>
    <div id="wrap">
      <%= yield %>
    </div>
  </body>
</html>
